/Area.class
/MainClass.class
/MainClass_1.class
/Operation_Total.class
/Passing_Argument_class.class
/Passing_Arguments.class
/Q1_234567.class
/Q1_234567MainClass.class
/Q89_10_11_12_13_14_15.class
/Q89_10_11_12_13_14_15_MainClass.class
/Task_MainClass_1.class
/Total.class
